# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/
archive.xcarchive
Booklog.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Ruby gems
vendor
.bundle

# Cocoapods
Pods/*

# NPM
node_modules
npm-debug.log

.DS_Store
.idea/
!.github
